<p>
  <label><%= l(:enable_event_notifications_settings) %></label>
  <%= check_box_tag 'settings[enable_event_notifications]', nil, settings['enable_event_notifications'] %>
  <br />
  <em><%= l(:enable_event_notifications_settings_description) %></em>
</p>
<p>
  <label><%= l(:event_notifications_with_author) %></label>
  <%= radio_button_tag 'settings[event_notifications_with_author]', "default", settings['event_notifications_with_author'] == "default" %>
  	<label style="margin-left:0px"><%= l(:event_notifications_with_author_default) %></label><br/>
  <%= radio_button_tag 'settings[event_notifications_with_author]', "author", settings['event_notifications_with_author']  == "author" %>
  	<label style="margin-left:0px"><%= l(:event_notifications_with_author_author) %></label><br/>
  <%= radio_button_tag 'settings[event_notifications_with_author]', "authorname", settings['event_notifications_with_author'] == "authorname" %>
  	<label style="margin-left:0px"><%= l(:event_notifications_with_author_authorname) %></label>
</p>
<p>
  <label><%= l(:label_issue_involved_in_related_notified) %></label>
  <%= check_box_tag 'settings[issue_involved_in_related_notified]', nil, settings['issue_involved_in_related_notified'] %>
</p>

<h3><%= l(:enable_notification_for_issue_attributes)%></h3>
<p>
	<h4><%= l(:enable_notification_for_cf)%></h4>
		 <% IssueCustomField.all.each do |cf|
		 	next if !%w(list user version).include?(cf.field_format) %>
		 <p>
	 			<label><%= cf.name %></label>
			  <%= check_box_tag 'settings[issue_cf_notifications][]', cf.id.to_s,
			  		(settings['issue_cf_notifications'] && settings['issue_cf_notifications'].any?) ?
			  				 settings['issue_cf_notifications'].include?(cf.id.to_s) : false %>
			  <br />
		 </p>
		<% end %>
		<%= hidden_field_tag 'settings[issue_cf_notifications][]', '' %>


	<h4><%= l(:enable_notification_for_project_issue_categories)%></h4>
	<% Project.includes(:issue_categories).all.order('lft ASC').each do |project|
		if project.issue_categories.any? %>
			<p>
			  <label><%= project.name %></label>
			  <%= check_box_tag 'settings[issue_category_notifications][]', project.id.to_s,
			  		(settings['issue_category_notifications'] && settings['issue_category_notifications'].any?) ?
			  				 settings['issue_category_notifications'].include?(project.id.to_s) : false %>
			  <br />
			</p>
		<% end %>
	<% end %>
	<%= hidden_field_tag 'settings[issue_category_notifications][]', '' %>


  <em><%= l(:issue_fields_description) %></em>
</p>